* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #444;
}
header {
  padding: 0;
  margin: 0;
  background-color: coral;
}
header h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
}

main {
  margin: 20px 30px;
}

main .section_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto 0;
}

/* form */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.form_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form {
  right: 0;
  display: flex;
  flex-direction: row;
}
.data_input_container {
  margin-right: 10px;
}
.data_input {
  display: flex;
  flex-direction: row;
}
.last_data {
  margin-bottom: 10px;
}
.data_input p {
  margin: 0 10px;
}
.bar_option {
  display: flex;
}

/* section */
.section_container {
  padding-top: 10px;
}

.section_left,
.section_right {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.section_title {
  margin: 0 auto 20px auto;
  text-align: center;
}

.chart {
  border-left: solid black 2px;
  border-bottom: solid black 2px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.bar {
  border: solid black 1px;
  border-bottom: none;
  position: relative;
  margin-left: 20px;
}

/* .element1,
.element2,
.element3,
.element4,
.element5 {
  width: 50px;
  height: 100px;
} */

.bar_value {
  position: absolute;
  width: 100%;
  text-align: center;
  /* top: 45%;*/
  /* top: 100%; */
}

.bar_label {
  position: absolute;
  width: 100%;
  top: 100%;
  margin-top: 5px;
  text-align: center;
}

.y_max {
  margin: 0;
  position: absolute;
  top: -10px;
  left: -30px;
}
.y_min {
  margin: 0;
  position: absolute;
  left: -30px;
}
