* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #444;
}
header {
  padding: 0;
  margin: 0;
  background-color: coral;
}
header h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
}

main {
  margin: 20px 30px;
}

main .section_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto 0;
}

/* form */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.form_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.form {
  right: 0;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
}
.data_input_container {
  margin-right: 10px;
}
.data_input {
  display: flex;
  flex-direction: row;
}
.last_data {
  margin-bottom: 10px;
}
.data_input p {
  margin: 0 10px;
}
.bar_option {
  display: flex;
}

/* section */
.section_container {
  padding-top: 40px;
}

.section_left,
.section_right {
  width: 45%;
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.section_title {
  margin: 0 auto;
  text-align: center;
}

/* .chart_container {
  flex-grow: 10;
  display: grid;
  grid-template-columns: [first] 60px [line2] auto [end];
  grid-template-rows: [row1-start] auto [row1-end] 50px [last-line];
} */

.left_chart,
.right_chart {
  border-left: solid black 2px;
  border-bottom: solid black 2px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.chart_element {
  border: solid black 1px;
  border-bottom: none;
  position: relative;
  margin-left: 20px;
}
.element1,
.element2,
.element3,
.element4,
.element5 {
  width: 50px;
  height: 100px;
}

.element_value {
  position: absolute;
  width: 100%;
  text-align: center;
  /* top: 45%;*/
  /* top: 100%; */
}

.element_label {
  position: absolute;
  width: 100%;
  top: 100%;
  margin-top: 5px;
  text-align: center;
}

.y_max {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
}
.y_min {
  position: absolute;
  top: 90%;
  right: 0;
  margin-right: 5px;
}
